body {
  font-family: "Noto Sans", sans-serif !important;
}

.memberCol {
  border: 1px dashed black;
}

td {
  padding: 15px;
}

canvas {
  display: block;
  margin: 20px auto;
}

div {
  display: inline-block;
}

h1 {
  padding: 20px;
  text-align: center;
}
